.sidebar{
    flex: 0.14;
    height: 100vh;
    color: white;
    background-color: #040404;
    padding:0 10px;
    min-width: 230px;
}

.sidebar__logo{
    height:70px;
    width: auto;
    padding:10px;
    margin-right: auto;
}
.sidebar__title{
    margin:0 10px;
    padding:5px;
    height:70px;
}

hr{
    background-color: #282828;
    border: none;
    height: 1px;
    margin: 10px auto;
    width: 90%;
}